<div class="fixed-width">
 
<h2>Buying &amp; Selling Your Home</h2>

<table style="width: 100%" cellpadding="5" cellspacing="0"><tr>
<td valign="top" style="padding-right: 15px">
	<h3>Home Buyer</h3>
    <p>A Select Home Warranty plan allows you to never again worry about the high cost of repairing or replacing your home's appliances or systems. You will not have to search any directories for contractors or repair technicians or wonder whether you can trust an unfamiliar service vendor.</p>

    <p>When a covered item breaks down due to normal wear and tear, simply dial our toll-free number or email us at <a href="mailto:<%= $installation.claims_email %>"><%= $installation.claims_email %></a> and an authorized service technician will be dispatched by our knowledgeable customer service representatives to handle your needs. You will receive a follow up email with the Contractor's Name and phone number so that you may contact them directly to set up an appointment. Our experience will save you both time and money.</p>

    <p>The other added benefits are: 
      <ul>
        <li>Ease of knowing that we will replace a covered component if the service provider can not repair it.</li>
        <li>Vast national network of licensed, certified, and pre-approved service contractors.</li> 
        <li>Exceptional rates on our Home Warranty Coverage Plans.</li> 
        <li>Service Providers that are very knowledgeable and ready to work for you.</li>
        <li>Our low Service Call Fees (usually $60 depending on your state).</li>
        <li>Payment plans to fit your budget.</li>
      </ul>
    </p>

</td><td valign="top" style="padding-left: 15px">
	<h3>Home Seller</h3>
    <p>A home protection plan can be an effective marketing tool, instantly giving buyers additional confidence in their purchase. We can also help protect your home's systems and appliances while your home is on the market. Allowing you to focus on your next home instead of the one you are trying to sell.</p>
    <p><ul>
        <li>8 out of 10 buyers prefer to buy a home with a warranty.<sup>1</sup></li>
        <li>Homes with warranties return a sales price that averages 3% higher.<sup>2</sup></li>
        <li>Homes on the market with a warranty included sell on average 50% faster than homes without.<sup>3</sup></li>
    </ul></p>

    <ul class="footnotes">
      <li><sup>1</sup> Business Week Magazine</li>
      <li><sup>2</sup> Gallup Poll</li>
      <li><sup>3</sup> National Home Warranty Association</li>
    </ul>

</td>
</tr></table>

</div>
<%= google_analytics_js %>