<h1 style="text-align: center;">Thank You For Your Inquiry</h1>
<h2 style="text-align: center;">Please call us for more details and your rate at <span class="green"><%=$installation.phone%></span>.</h2>
<%= google_analytics_js %>